# Pinata IPFS Gateway Configuration
VITE_PINATA_GATEWAY=

# Pinata API Configuration for IPFS
VITE_PINATA_API_KEY=
VITE_PINATA_API_SECRET=
VITE_PINATA_JWT=

# Private Key Mnemonic for .env login button (MINTER)
VITE_PRIVATE_KEY_MNEMONIC=

# Manager Mnemonic for asset management (MANAGER)
VITE_MANAGER_MNEMONIC=



# Algorand Network Configuration
VITE_ALGORAND_NETWORK=testnet

# Algorand API Endpoints - TUTTI OBBLIGATORI
VITE_ALGOD_TOKEN=
VITE_ALGOD_SERVER=https://testnet-api.algonode.cloud
VITE_ALGOD_PORT=443
VITE_INDEXER_TOKEN=
VITE_INDEXER_SERVER=https://testnet-idx.algonode.cloud
VITE_INDEXER_PORT=443 